@use './assets/styles/fonts';
@use './assets/styles/colors';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: colors.$color-background;
}

#root {
  height: 100%;
}

:root {
  font-family: fonts.$font-regular;
}

* {
  box-sizing: border-box;
}

